h2{
    text-align: center;
    color: rgb(189, 239, 204);
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    width: 400px;
    margin: 50px auto;
    transition: 0.7s;
}
h2:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(189, 239, 204);
    transform: scale(1.1);
}
p{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.7s;
}
p:hover{
    transform: scale(1.1);
}
    